/* Empty. Add your own CSS if you like */
html, body{
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
	height: 100%;
}
body:not(:-moz-handler-blocked) .newuser{
    padding: 35% 0 5% 0;
}
body:not(:-moz-handler-blocked) .exsitUser{
    padding: 20% 0 7.5% 0;
}
body:not(:-moz-handler-blocked) .forgotUser{
    padding: 43% 0 7.5% 0;
}
#login .row, #login .col{
	padding: 0 !important;
}
#bg{
	background: url('../img/carousel_1.jpg') no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;	
}
.logo{
	padding: 5% 0 10% 0;
	text-align: center;
}
.loginHeader{
	text-align: center;
}
#login input{
	color: #aaaaaa;
	font-size: 14px;
	margin-top: -3px !important;
	padding-top: 0 !important;
	padding-left: 8px;	
}
#login label{
	border-radius: 5px;
	border: solid 1px #dedede;
	background-color: #ffffff;
	height: 47px;
	margin-top:20px;
	width: 100%;
}
#login .padding{
    padding: 0px !important;
    width: 100%;
}
#login .padding button{
	background: linear-gradient(96deg, #0f7231, #00a650);
	border: none;
	box-shadow: 0 10px 20px 0 rgba(28, 129, 63, 0.4);
	color: #ffffff;
	margin-top: 20px;
}
#login .padding button:hover{
	box-shadow: 0 20px 30px 0 rgba(28, 129, 63, 0.4);
}
.loginForm{
	margin: auto;
	padding: 5px;
	width: 60%;
}
.welcmHeader{
	color: #444444;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.signIn{
	color: #aaaaaa;
	font-size: 14px;
	line-height: 24px;
	margin: auto;
	margin-top: 10px;
	text-align: center !important;
	width: 100%;
	
}
.forgPassword{
	color: #aaaaaa;
	float: right;
	font-size: 14px;
	margin: 10px 0;
}
.forgPassword a{
	color: #aaaaaa;
	text-decoration: none;
}
.newuser{
	padding: 45% 0 6.5% 0;
	text-align: center;
	font-size: 14px;
	color: #757575;
}
.forgotUser{
	padding: 50% 0 11% 0;
	text-align: center;
	font-size: 14px;
	color: #757575;
}
.newuser a, a:hover, .exsitUser a, a:hover, .forgotUser a, a:hover, .successReset a, a:hover{
	text-decoration: none;
	color: #00925b;
}
.bestRole{
	float: left;
	font-size: 14px;
	color: #aaaaaa;
	margin: 10px 0;
}
.button-bar button{
	background-color: #fcfcfc !important;
	border-width: none;
	border-radius: 5px !important;
	width: 140px;
	height: 47px;
	border: 1px solid #d8d8d8 !important;
	color: #444444 !important;
}
.button-bar button:hover{
	border: 1px solid #00a650 !important;
}
.button-bar button.active{
	border: 1px solid #00a650 !important;
}
.lead{
	margin:0 20px;
	border-radius:5px;
}
.exsitUser, .successReset{
	padding: 30% 0 15% 0;
	text-align: center;
	font-size: 14px;
	color: #757575;
}
.success{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}
.forgotPasHeader{
	text-align: center;
	margin-top: 5%;
}
.item-input:hover{
	border: 1px solid #aaaaaa !important;
}
.has-errors{
    border: 1px solid #ff0000 !important;
    border: 1px solid #ff0000 !important;
}
.no-errors{
    border: 1px solid #00a650 !important;
    border: 1px solid #00a650 !important;
}
#login .ion-android-mail{
	background: url('../img/mail.svg') no-repeat !important;
	/*background-size: 100% 100%;*/
}
#login .ion-android-mail::before, #login .ion-locked::before {
    content: "" !important;
}
#login .item-input .icon{
	margin-top: 2px !important;
    min-width: 20px !important;
}
#login .ion-locked{
	background: url('../img/pswd.svg') no-repeat !important;
	/*background-size: 100% 100%;*/
}

@media only screen and (max-width: 767px){
    /* For mobile phones: */
	#bg{
	    display: none !important;
	}
	.col-50{
	    -moz-box-flex: 0 !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 500px){
	.loginForm{
		width: 85% !important;
	}
	img {
    	width: 45%;
	}
}

@media only screen and (max-width: 617px){
	.button-bar{
		display: block !important;
	}
	button{
		min-width: 100% !important;
	}
	.lead{
		margin:10px 0 !important;
	}
	.loginForm{
		width: 75% !important;
	}
	/*img {
    	width: 45%;
	}*/
}

@media only screen and (max-width: 1236px) and (min-width: 766px){
	.button-bar{
		display: block !important;
	}
	button{
		min-width: 100% !important;
	}
	.lead{
		margin:10px 0 !important;
	}
}