<ion-view view-title="Login" id="login">
  <ion-content scroll="true" ng-controller="loginCtrl">
    <div class="row">
        <div class="col col-50" id="bg">asdgadsfg
          <!-- <div id="carousel"></div>
 -->          <!-- <img id="carousel" src="img/carousel_1.jpg"> -->
        </div>
<!-- Sign In Page start-->
         <div class = "col col-50" ng-if="vm.signInScreen"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
              <div class="loginHeader">
                  <div class="welcmHeader">{{greet}}! Welcome Back</div>
                  <div class="signIn">Sign In</div>
              </div>
              <div class="loginForm" >
                <form name="loginForm" ng-submit="" novalidate>
                  <div class="list">
                      <label class="item item-input" ng-class="{'has-errors' : emailblankValidation || loginForm.email.$invalid && !loginForm.email.$pristine, 'no-errors' : loginForm.email.$valid}">
                        <i class="icon ion-android-mail placeholder-icon"></i>
                        <input name="email" type="email" placeholder="IBM w3id / Email" ng-model="vm.signIn.email" required>
                    </label>
                      <label class="item item-input" ng-class="{'has-errors' : pswdblankValidation || loginForm.password.$invalid && !loginForm.password.$pristine, 'no-errors' : loginForm.password.$valid}">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input name="password" type="password" placeholder="Password" ng-model="vm.signIn.password" required>
                      </label>
                      <div class="forgPassword"><a href="" ng-click="vm.forgotPswd()">Forgot Password?</a></div>
                  </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive" ng-click="vm.signInSubmit()">Sign in</button>
                  </div>
              </form>
              <div class="newuser">New User? <a href="" ng-click="vm.signUp()">Sign up</a></div>
            </div>
        </div>
<!-- Sign In Page end-->

<!-- Forgot Password Page start-->  
        <div class = "col col-50" ng-if="vm.forgotPswdScreen"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
              <div class="forgotPasHeader">
                  <div class="welcmHeader">Forgot your Password?</div>
                  <div class="signIn">We'll email you the instructions on how to reset it.</div>
              </div>
              <div class="loginForm" >
                <form name="loginForm" ng-submit="" novalidate>
                  <div class="list">
                      <label class="item item-input" ng-class="{'has-errors' : resetMailblankValidation || loginForm.email.$invalid && !loginForm.email.$pristine, 'no-errors' : loginForm.email.$valid}">
                        <i class="icon ion-android-mail placeholder-icon"></i>
                        <input name="email" type="email" placeholder="IBM w3id / Email" ng-model="vm.reset.email" required>
                    </label>
                  </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive" ng-click="vm.resetPswd()">Reset Password</button>
                  </div>
              </form>
              <div class="forgotUser">Already have an account? <a href="" ng-click="vm.signIn()">Sign In</a></div>
            </div>
        </div>
<!-- Forgot Password Page end--> 

<!-- Sign Up success Page start-->  

        <div class = "col col-50" ng-if="vm.pswdResetScreen"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
            <div class="success"><img src="img/success.png"></div>
              <div class="loginHeader">
                  <div class="welcmHeader">Password reset sent!</div>
                  <div class="signIn">We've just emailed you the instructions on how to reset your password</div>
              </div>
            <div class="successReset">Already have an account? <a href="" ng-click="vm.signIn()">Sign In</a></div>
        </div>
<!-- Sign Up success Page end-->


<!-- Sign Up/register Page start-->  
        <div class = "col col-50" ng-if="vm.signUpScreen"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
              <div class="loginHeader">
                  <div class="welcmHeader">Get your own account</div>
                  <div class="signIn">Sign Up. There's more behind the star</div>
              </div>
              <div class="loginForm" >
                <form name="loginForm" ng-submit="" novalidate>
                  <div class="list">
                      <label class="item item-input" ng-class="{'has-errors' : signUpemailblankValidation || loginForm.email.$invalid && !loginForm.email.$pristine, 'no-errors' : loginForm.email.$valid}">
                        <i class="icon ion-android-mail placeholder-icon"></i>
                        <input name="email" type="email" placeholder="IBM w3id / Email" ng-model="vm.signUp.email" required>
                    </label>
                      <label class="item item-input" ng-class="{'has-errors' : signUpPswdblankValidation || loginForm.password.$invalid && !loginForm.password.$pristine, 'no-errors' : loginForm.password.$valid}">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input name="password" type="password" placeholder="Password" ng-model="vm.signUp.password" required>
                      </label>
                      <div class="bestRole">Which role fits you the best?</div>
                  </div>
                    <div class="button-bar">
                      <button ng-class="{active : active1}" ng-click="active1 = !active1;active2=false;active3=false">Developer</button>
                      <button class="lead" ng-class="{active : active2}" ng-click="active2 = !active2;active1=false;active3=false">Lead</button>
                      <button ng-class="{active : active3}" ng-click="active3 = !active3; active1=false;active2=false">Manager</button>
                    </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive" ng-click="vm.signUpSubmit()">Sign up</button>
                  </div>
              </form>
              <div class="exsitUser">Already have an account? <a href="" ng-click="vm.signIn()">Sign In</a></div>
            </div>
        </div>
<!-- Sign Up/register Page end--> 
        
<!-- Sign Up success Page start-->  

        <div class = "col col-50" ng-if="vm.successSignUpScreen"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
            <div class="success"><img src="img/success.png"></div>
              <div class="loginHeader">
                  <div class="welcmHeader">Great! Congratulations on signing up</div>
                  <div class="signIn">You will receive the login details to your email address which you have used to register post verification.</div>
              </div>
              <div class="successReset">Already have an account? <a href="" ng-click="vm.signIn()">Sign In</a></div>
        </div>
<!-- Sign Up success Page end-->

    </div>
  </ion-content>
</ion-view>

