<ion-view view-title="Login" id="login">
  <ion-content scroll="false">
    <div class="row">
       <div class="col col-50" id="carousel"></div>
<!-- Sign In Page start-->
         <div class = "col col-50" ng-controller="loginCtrl" ng-show="false"> 
              <div class="logo">
                <img src="img/logo.svg" alt="Heineken">
              </div>
              <div class="loginHeader">
                  <div class="welcmHeader">{{greet}}! Welcome Back</div>
                  <div class="signIn">Sign In</div>
              </div>
              <div class="loginForm" >
                <form name="loginForm" ng-submit="$scope.login($scope.user);" novalidate>
                  <div class="list">
                      <label class="item item-input" ng-class="{'has-errors' : emailblankValidation || loginForm.email.$invalid && !loginForm.email.$pristine, 'no-errors' : loginForm.email.$valid}">
                        <i class="icon ion-android-mail placeholder-icon"></i>
                        <input name="email" type="email" placeholder="IBM w3id / Email" ng-model="$scope.user.email" required>
                    </label>
                      <label class="item item-input" ng-class="{'has-errors' : pswdblankValidation || loginForm.password.$invalid && !loginForm.password.$pristine, 'no-errors' : loginForm.password.$valid}">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input name="password" type="text" placeholder="Password" ng-model="$scope.user.password" required>
                      </label>
                      <div class="forgPassword">Forgot Password?</div>
                  </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive" ng-click="signInSubmit()" >Sign in</button>
                  </div>
              </form>
              <div class="newuser">New User? <a href="#">Sign up</a></div>
            </div>
        </div>
<!-- Sign In Page end-->

<!-- Forgot Password Page start-->  
        <div class = "col col-50" ng-controller="loginCtrl" ng-show="true"> 
          <div class="logo"><img src="img/logo.png"></div>
              <div class="forgotPasHeader">
                  <div class="welcmHeader">Forgot your Password?</div>
                  <div class="signIn">We'll email you the instructions on how to reset it.</div>
              </div>
              <div class="loginForm" >
                <form ng-submit="login(user)">
                  <div class="list">
                      <label class="item item-input">
                          <i class="icon ion-email placeholder-icon"></i>
                          <input type="email" placeholder="Email" ng-model="user.email">
                      </label>
                  </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive">Reset Password</button>
                  </div>
              </form>
              <div class="forgotUser">Already have an account? <a href="#">Login</a></div>
            </div>
        </div>
<!-- Forgot Password Page end--> 

<!-- Sign Up success Page start-->  

        <div class = "col col-50" ng-controller="loginCtrl" ng-if="pswdResetScreen"> 
          <div class="logo"><img src="img/logo.png"></div>
            <div class="success"><img src="img/success.png"></div>
              <div class="loginHeader">
                  <div class="welcmHeader">Password reset sent!</div>
                  <div class="signIn">We've just emailed you the instructions on how to reset your password</div>
              </div>
            <div class="successReset">Already have an account? <a href="#">Login</a></div>
        </div>
<!-- Sign Up success Page end-->


<!-- Sign Up/register Page start-->  
        <div class = "col col-50" ng-controller="loginCtrl" ng-show="signUpScreen"> 
          <div class="logo"><img src="img/logo.png"></div>
              <div class="loginHeader">
                  <div class="welcmHeader">Get your own account</div>
                  <div class="signIn">Sign Up. There's more behind the star</div>
              </div>
              <div class="loginForm" >
                <form ng-submit="login(user)">
                  <div class="list">
                      <label class="item item-input">
                          <i class="icon ion-email placeholder-icon"></i>
                          <input type="email" placeholder="Email" ng-model="user.email">
                      </label>
                      <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                      </label>
                      <div class="bestRole">Which role fits you the best?</div>
                  </div>
                    <div class="button-bar">
                      <button class="button button-assertive">Developer</button>
                      <button class="button button-assertive lead">Lead</button>
                      <button class="button button-assertive">Manager</button>
                    </div>
                  <div class="padding">
                      <button type="submit" class="button button-block button-outline button-positive">Sign up</button>
                  </div>
              </form>
              <div class="exsitUser">Already have an account? <a href="#">Login</a></div>
            </div>
        </div>
<!-- Sign Up/register Page end--> 
        
<!-- Sign Up success Page start-->  

        <div class = "col col-50" ng-controller="loginCtrl" ng-show="successSignUpScreen"> 
          <div class="logo"><img src="img/logo.png"></div>
            <div class="success"><img src="img/success.png"></div>
              <div class="loginHeader">
                  <div class="welcmHeader">Great! Congratulations on signing up</div>
                  <div class="signIn">You will receive the login details to your email address which you have used to register post verification.</div>
              </div>
              <div class="successReset">Already have an account? <a href="#">Login</a></div>
        </div>
<!-- Sign Up success Page end-->

    </div>
  </ion-content>
</ion-view>

